p::first-letter{
	font-size: 40px ;
	font-weight: bold ;
	color: red ;
}
	p::first-line {
		color: blue ;
		font-weight: bold ;
	}
p::selection{
	background-color: pink;
	color: #FFF ;
	
}
