
#wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gallery{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#gallery .item{
    width: 24%;
}

#gallery .item img{
    width: 100%;
}

#gallery .item p{
    text-align: center;
    font-weight: bold;
}

body{
    margin: 0;
    padding:0;
}


